<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vermuestrafruta">
      <ion-icon name ="leaf"></ion-icon>
      <ion-label>Muestras de Fruta</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vermuestragua">
        <ion-icon name ="water"></ion-icon>
        <ion-label>Muestras de Fruta</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="iniciar-sesion">
          <ion-icon name ="log-out"></ion-icon>
          <ion-label>Muestras de Fruta</ion-label>
        </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>